{% extends 'base.html' %}                                               <!-- カード検索 -->
{% block contents %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>画像検索</title>
    <style>
        .image-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px; /* 画像同士の間にスペースを設定 */
        }

        .image-item {
            text-align: center;
        }

        .image-item img {
            width: 300px; /* 画像をコンテナの幅に合わせる */
            height: auto; /* アスペクト比を維持 */
        }
    </style>
</head>
<body>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">検索</button>
    </form>

    <div class="image-grid">
        {% for image in images %}
            {% if forloop.counter0 < 30 %}
                <div class="image-item">
                    <img src="{{ image.image.url }}" alt="{{ image.name }}">
                    <p>{{ image.name }} - {{ image.type }} - {{ image.rarity }} - {{ image.category }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% include 'pagination.html' %}
</body>
</html>
{% endblock %}