<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>お気に入り</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for record in object_list %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ record.image1.url }}" 
                             class="bd-placeholder-img card-img-top"
                             width="100%" height="auto"
                             xmlns="http://www.w3.org/2000/svg"
                             role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice"
                             focusable="false">
                        <div class="card-body">
                            <p class="card-text">{{record.title}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary"
                                            onclick="location.href='{% url "photo:photo_detail" record.pk %}'">
                                            View</button>
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary"
                                            onclick="location.href='{% url "photo:photos_cat" category=record.category.id %}'">
                                            {{record.category.title}}</button>
                                </div>
                                <a href="{% url "photo:user_list" user=record.user.id %}">
                                    <small class="text-muted">{{record.user.username}}</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:30 %}
                </div><div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>